node_modules
lib/**/*.map
lib/Components/**/index.js
lib/Templates/**/index.js
lib/Worker/**/index.js
lib/API/Controllers/index.js
lib/API/Views/index.js


# Compoments that uses coffeescript
lib/Models/**/*.js
lib/Matchmaker/*.js

# Templates
lib/Templates/*.html

.vscode/
dump.rdb
.idea
.idea/