p Hi <br><br> Use the following link to activate your Polynect Developer account
a.button(href=activation_link) Click here to activate

p Have questions? Email support@polynect.io

p Thanks, <br> Polynect Team
