p Hi #{firstname ? firstname + "," : ''} <br><br> We’ve received a request to reset your password. If you didn’t make this request, just ignore this email. Otherwise, you can use this link:
a.button(href=reset_link) Click here to reset your password
p Thanks, <br> Polynect Team
