p.
	Hello #{firstname ? " " + firstname : ''},
	
	I am Adam, founder of Polynect. A warm welcome for signing up as a trial user.

	For the moment, Polynect is only available as a free trial. As soon as some significant interest in the platform is shown will new product plans be added that are more suitable for large scale multiplayer games. 

	I would love to learn about what games you are making and what problems you would like to to solve. 

	Polynect is still in its early stages and your input can have a great impact on the future of the product. 

	Looking forward to hearing from you.


	Cheers,
	Adam