p.
	Hello #{firstname ? " " + firstname : ''},
	
	I am Adam, creator of Polynect. A warm welcome for signing up.

	For the moment, Polynect is only available as a free trial.

	I would love to learn about what games you are making and what problems you would like to to solve. 

	Polynect is still in its early stages and your input can have a great impact on the future of the product. 

	Looking forward to hearing from you.


	Cheers,
	Adam