doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    style.
      * {
        position:relative;
      }
      body {
        background-color: #F1F1F6;
        font-family: Helvetica, Sans-serif;
        color: #565656;
      }
      table {
        max-width:600px; 
        padding: 20px 30px 40px 30px;
        position: static;
        margin: 0 auto;
      }
      a.button {
        text-shadow:none !important;
        border:none !important;
        box-shadow:none !important;
        display:inline-block;
        -webkit-text-size-adjust:none;mso-hide:all;
        
        background-color: #84C340;
        border-color: #84C340;
        letter-spacing: .058em;
        text-decoration: none;
        color: white;
        padding: 14px 0 14px 0;
        border-radius: 3px;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
      }
      a.button:hover {
        background-color: #95D056;
      }
      a.button:active {
        background-color: #B1DE80;
      }
      td {
        padding: 10px 0px 10px 0px;
      }
  body
    table
      tr
        td(style="text-align:center;")
          img(srcs="img/logo_200.png")
      tr
        td !{content}
          
